[Unit]
# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
Description=Run a coredns server
Wants=network-online.target
After=network-online.target

[Container]
# Use the bootc image store
PodmanArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
Image=docker.io/coredns/coredns:1.13.1
PublishPort=5533:53/tcp
PublishPort=5533:53/udp
AutoUpdate=local
Environment=GOMAXPROCS=4
Volume=/etc/coredns/Corefile:/Corefile:ro
ReadOnly=true

[Install]
WantedBy=multi-user.target
